# Gmail Credentials for Nodemailer
# You must set these in Vercel Dashboard -> Settings -> Environment Variables
GMAIL_USER=hammaddd1230@gmail.com
GMAIL_PASS=lxtv orux wlcq zjym
TARGET_EMAIL=hammaddd1230@gmail.com
